
<div>

  <h1>Bienvenido al ODS 2: Hambre Cero</h1>

  <p>Este sitio web está dedicado a proporcionar información y recursos sobre el Objetivo de Desarrollo Sostenible 2, que busca poner fin al hambre, lograr la seguridad alimentaria y mejorar la nutrición, así como promover la agricultura sostenible.</p>

  <p>Aquí encontrarás información relevante, recursos útiles y formas en las que puedes contribuir a esta causa vital.</p>

</div>
